.content__card__like-button {
    margin: auto 20px auto 0;
    border: 1px solid white;
    background-image: url(/media/cards/like.svg);
    background-size: 100% 100%;
    background-color: white;

    padding: 0;

    width: 22px;
    height: 20px;
}

.content__card__like-button:hover {
    opacity: 50%;
    cursor: pointer;
}

.content__card__like-button:active {
    opacity: 100%;
    background-image: url(/media/cards/like-active.svg);
}