.popup__container {
    margin: auto;

    background-color: white;
    border-radius: 10px;

    padding: 35px;

    max-width: calc(100% - 40px);
    width: 430px;

    box-sizing: border-box;

    position: relative;
}

@media screen and (max-width: 650px) {
    .popup__container {
        padding: 20px;
    }
}