.footer__text-container {
    height: 150px;
    display: flex;
}

@media screen and (max-width: 500px) {
    .footer__text-container {
        height: 120px;
    }
}

@media screen and (max-width: 350px) {
    .footer__text-container {
        height: 100px;
    }
}