.content__name {
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    margin-left: 20px;

    width: 200px;


    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}