.profile__info__edit-button {
    border: 1px solid white;
    background-color: black;
    margin: 35px 0 0 10px;

    height: 24px;
    width: 24px;
}

.profile__info__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
}