.profile__container {
    display: flex;
    gap: 30px;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .profile__container {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
}