.profile__name {
    font-size: 2.625rem;
    font-weight: 500;
    margin: 20px 0;

    max-width: 335px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .profile__name {
        font-size: 1.6875rem;
        padding: 0;
        margin: 27px 0 20px 0;
    }
}