.content__card {
    position: relative;

    width: calc((100% - 40px)/3);

    background-color: white;

    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .content__card {
        width: calc((100% - 40px)/2);
    }
}
@media screen and (max-width: 500px) {
    .content__card {
        width: 100%;
    }
}