.profile__avatar {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    object-fit: cover;

    justify-self: start;
}

@media screen and (max-width: 650px) {
    .profile__avatar {
        margin: 5px auto 0 auto;
    }
}