.popup__head-text {
    color: black;

    margin: 0 0 15px 0;

    font-size: 1.5rem;
    font-weight: 900;
}

@media screen and (max-width: 550px) {
    .popup__head-text {
        font-size: 1.2rem;
    }
}