.content__card__like-button__icon:hover {
    background-color: black;
}


.content__card__like-button__icon:hover {
    opacity: 50%;
    cursor: pointer;
}

.content__card__like-button__icon:active {
    background-color: black;
}