.content__columns {
    display: flex;
    gap: 20px;
    margin: auto;
    flex-wrap: wrap;

    padding-top: 30px;
}

@media screen and (max-width: 650px) {
    .content__columns {
        padding-top: 15px;
    }
}